* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.form-control p {
  margin-top: 20px;
  text-align: center;
}

.form-control a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.form-control a:hover {
  text-decoration: underline;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-radio label {
  display: inline-block;
  margin-right: 20px;
  font-weight: normal;
  cursor: pointer;
}

.form-radio input[type="radio"] {
  display: none;
}

.form-radio input[type="radio"] + label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #999;
  border-radius: 50%;
}

.form-radio input[type="radio"]:checked + label:before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.form-radio input[type="radio"]:disabled + label:before {
  background-color: #eee;
  border-color: #ddd;
}

.form-radio input[type="radio"]:disabled:checked + label:before {
  background-color: #ccc;
  border-color: #ccc;
}

.form-radio input[type="radio"]:disabled + label {
  color: #ccc;
  cursor: not-allowed;
}
